<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
		<script src = "/static/js/logout.js"></script> 
		<script src="/static/libs/jquery-3.3.1.js" charset="utf-8">
		</script>
		<script src="/static/js/search.js" charset="utf-8">
		</script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<title>Search recipe</title>
		<style type="text/css" media="screen">
		</style>
	</head>
	<body onload = all_recipes()>
		<input type="text" value="" name="" id="search"/>
		<button onclick="search()">Search</button>
		<h2> Recipies </h2>
		<ul>
			<div id="recipes"></div>
		</ul>
	</body>
</html>
