# create by https://github.com/iamcco/coc-gitignore (Mon Jun 29 2020 19:24:25 GMT-0500 (hora estándar de Perú))
# ArchLinuxPackages.gitignore:
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
*-git
